/* RESET */
body {
    margin: 0;
    font-family: Ubuntu;
}

/* HEADER */
header {
    background-color: #1A1A32;
    color: #ffd448;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    height: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 10px;
    font-size: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    background-color: #1A1A32;
}

nav a:hover {
    background-color: #ffd54c;
    color: #1A1A32;
}

/* MAIN */
body {
    color: #1A1A32;
}

#main {
    padding: 0 10%;
}

.txt-normal {
    font-size: 18px;
}

.projects a {
    color: #1A1A32;
}

.projects a:hover {
    font-weight: bold;
    color: #ffd54c;
}

/* DIVIDERS */
.divider-medium {
    border-bottom: 2px solid #1A1A32;
    margin: 60px -5% 20px -5%;
}

/* ANIMATIONS */
@keyframes waving-hand {
    0% {transform: rotate(0deg);}
    10% {transform: rotate(14deg);}
    20% {transform: rotate(-8deg);}
    30% {transform: rotate(14deg);}
    40% {transform: rotate(-4deg);}
    50% {transform: rotate(10deg);}
    60% {transform: rotate(0deg);}
    100% {transform: rotate(0deg);}
}

.wave {
    display: inline-block;
    animation: waving-hand 2.5s infinite;
    transform-origin: 70% 70%;
    font-size: 24px;
}